<!DOCTYPE html>
	<html lang="en">
	

	<head>
	  <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
	  <title>Document</title>
	</head>
	

	<body>
	  <div class="contact-us">
	    <div>
	      <p><b>PROCESS PRELOAD Data Wrangler</b></p>
	    </div>
	    <form action='{{ url_for("form") }}' method="POST">
	      <label for="Increment in Salary(%)">Taxonomy File Upload </label> 
          <input type="file" name="myFile" id="z" name="z" required="" />
          <!-- <input id="z" name="z" required="" type="number" /> -->
	      <button id="SUBMIT">SUBMIT</button>
	    </form>
	  </div>

      <!-- <form
      enctype="multipart/form-data"
      action="http://localhost:8080/upload"
      method="post">
      <input type="file" name="myFile" />
      <input type="submit" value="upload" />
    </form> -->
      
	

	</body>
	

	</html>